.inline_productNav{
    width: 80%;
    margin:auto;
    margin-top: 155px;
    .mark_block{
        display: inline-flex;
        margin: 0;
        box-shadow:  0 0 2px gray;
        padding-left: 0;
        li{
            padding: 15px 30px;
            cursor: pointer;
            border:0.1px solid gray;
            a{
                color:black;
            }
        }
        .activeMark{
            background-color: rgba(0,0,0,0.9);
            a{
                color: white;
            }
        }
    }
}


.card_inline{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}


    