.dots{
    width: 5px;
    height: 5px;
    background-color: black;
    border-radius: 100%;
    margin: 20px 0;
    transition: 0.2s ease-in-out;
    cursor: pointer;
}

.dots.active{
    width: 10px;
    height: 10px;
    background-color: black;
    border-radius: 100%;
    margin: 20px 0;
    transition: 0.2s ease-in-out;
    cursor: pointer;
    box-shadow: 0 0 5px black;
}